In [1]:
import pandas as pd

In [2]:
cols = ['route_id', 'route_num',
       'start_station_id', 'start_station_nm', 
       'start_line_id','route_dur',
       'optimal_route_delta']
data = pd.read_csv('data/subway.csv', usecols=cols)

In [3]:
data = data[data.optimal_route_delta == 0]

In [4]:
data.shape

(125588, 7)

In [5]:
data.head()

,route_id,route_num,start_station_id,start_station_nm,start_line_id,route_dur,optimal_route_delta
1,10001_7018,1,10001,Борисово,10,56.01,0.0
30,10002_10013,1,10002,Братиславская,10,1.75,0.0
35,10002_2024,1,10002,Братиславская,10,53.28,0.0
107,10003_1001018,1,10003,Бутырская,10,37.68,0.0
124,10003_11021,1,10003,Бутырская,10,32.59,0.0

In [6]:
data_dur = data.groupby('start_station_id')['route_dur'].median().reset_index()
data_dur.head()

   start_station_id  route_dur
0              1001     24.790
1              1002     36.190
2              1003     30.090
3              1004     27.255
4              1005     28.760

In [7]:
data_dur.to_csv('data/duration.csv', index=False)